<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
</head>
<body>

    <h1>Inventario</h1>

    <p><a href="{{ url_for('web.crear_producto_view') }}">Crear nuevo producto</a></p>

    {% if productos %}
        {% for producto in productos %}
            <div>
                <h2>{{ producto[1] }}</h2>
                <p>Descripción: {{ producto[2] }}</p>
                <p>Precio: ${{ producto[3] }}</p>
                <p>Stock: {{ producto[4] }}</p>
                <p><a href="{{ url_for('web.modificar_producto_view', id=producto[0]) }}">Editar</a></p>
                <form action="{{ url_for('web.eliminar_producto_view', id=producto[0]) }}" method="POST" onsubmit="return confirm('¿Está seguro de eliminar este producto?');"style="display:inline;">
                    <button type="submit" 
                        style="background:none; border:none; color:blue; cursor:pointer; text-decoration:underline; padding:0; font:inherit;">
                     Eliminar</button>
                </form>
            </div>
            <hr>
        {% endfor %}
    {% else %}
        <p>No hay productos registrados.</p>
    {% endif %}

</body>
</html>